.bg-dark {
  background: linear-gradient(
    103.236356852552deg,
    rgba(37, 48, 61, 1) -1%,
    rgba(37, 48, 61, 1) -1%,
    rgba(31, 86, 126, 1) 101%,
    rgba(31, 86, 126, 1) 101%
  );
}

.Logo {
  width: 80px;
}

.Test {
  background: red;
}

@media (min-width: 576px) {
  .form-inline .form-control {
    display: inline-block;
    width: 400px !important;
    vertical-align: middle;
  }
}
