/*  sorting CSS begins
    @author Krishna
*/

.sorts--grid {
  z-index: 9;
  box-shadow: 0px 0px 30px rgba(32, 77, 111, 0.4);
  position: fixed;
  font-size: 14px;
  color: #1f567e;
  line-height: 32px;
  top: 0px;
  left: 0px;
  transition: 0.5s;
  background: #fff;
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }
  .sort__grid {
    display: flex;
    .sort__settings {
      width: 667px;
      .sort__header {
        display: flex;
        border-bottom: 1px solid #ddd;
        padding: 10px;
        .sort__close {
          margin-left: auto;
        }
      }
      .sort__body {
        padding: 10px;
        height: 250px;
        overflow-y: scroll;
        // width: 500px;
        .sort__bodyContent {
          display: flex;
        }
        .sort__new {
          display: flex;
          align-items: center;
          margin-left: 60px;
          .sort__txt {
            font-size: 18px;
            color: #98a3ac;
            margin-right: 5px;
          }
        }
        .sort__reorder {
          padding: 15px;
          .sort__icon {
            font-size: 18px;
            color: #98a3ac;
          }
          .sort__file {
            .custom__ctrl {
              width: 135px;
              height: 35px;
              border-radius: 5px;
            }
            .temp {
              font-size: 50px;
            }
          }
        }
      }
      .sort__footer {
        padding: 10px;
        border-top: 1px solid #ddd;
        display: flex;
        .sort__btns {
          margin-left: auto;
          .btns {
            border: 1px solid #0e4bda;
            background: #fff;
            border-radius: 5px;
            width: 100px;
            margin-left: 10px;
            color: #0e4bda;
          }
          .btns__save {
            color: #fff;
            background: #034bda;
          }
        }
      }
    }
  }
}

/*  sort to PDF/Excel CSS ends here...
        @author Krishna
  */
