html {
    /*font-family: sans-serif;*/
    font-family: 'Segoe UI Bold', 'Segoe UI Regular', 'Segoe UI';
    font-size: 12px;
  }
  
  body {
    margin: 0;
  }
  
  html,
  body,
  #root {
    height: 100%;
    overflow-x: hidden;
  }
  
  .List {
    border: 1px solid #d9dddd;
  }
  
  .ListItemEven,
  .ListItemOdd {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ListItemEven {
    background-color: #f8f8f0;
  }

  thead {
    background: rgba(31, 86, 126, 0.0470588);
    border-bottom: 1px solid #D6D7D6;
    /*height: 40px;*/
    color: #204D6F;
    font-weight: bold;
    padding: 10px 4px;
    text-align: center;
  }

  .searchArea {
    justify-content: center;
    height: 25px;
  }
  .searchInput {
    border-radius: 20px !important;
  }
  